* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
    font-family: 'Wix Madefor Text', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 20pc;
  }

  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
 
  ::-webkit-scrollbar-thumb {
    background: var(--minty); 
    /* border-radius: var(--borradius); */
  }

:root {
    --creme: #DDFFBB;
    --cremegreen: #C7E9B0;
    --mint: #B3C99C;
    --minty: #A4BC92;

    --headingsize: 12px;
    --descsize: 11px;
    --fontspace:  0.125em;
    --lineheight: 1.6em;
    
    --borradius: 3px;
}


[top-bar-title] {
    position: fixed;
    width: 100%;
    top: 0;
    line-height: 1.8;
    font-size: var(--headingsize);
    background: rgba( 164, 188, 146, 0.6 );
    text-align: center;
    text-transform: capitalize;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    z-index: 10;
    padding: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.container {
    position: absolute;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    top: 0;
    left: 0;
    right: 0;
    width: calc(80% - 90px);
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

[post-container] {
    /* border: 2px solid #222; */
    padding: 1rem;
    position: relative;
    top: 4rem;
}

[sidebar-container] {
    /* border: 2px solid var(--minty); */
    padding: 1rem;
    position: relative;
    top: 4rem;
}

[post-container], [sidebar-container] {
    width: calc(90%/2 - 30px);
}

[post] {
    /* border: 1px solid blue; */
    padding: 2rem;
    position: relative;
    top: 0;
    margin-bottom: 20px;
}

[sidebar ] {
    /* border: 1px solid blue; */
    padding: 2rem;
    position: fixed;
    /* position: relative; */
    width: calc(30% - 30px);
    top: 14rem;
}

[post-title-left] {
    display: flex;
    justify-content: space-between;
    background-color: var(--cremegreen);
    font-size: var(--headingsize);
    letter-spacing: var(--fontspace);
    text-transform: capitalize;
    padding: 0 0.392em;
}

[post] img {
    max-width: 317px;
    object-fit: contain;
    width: 100%;
    margin-top: 20px;
}

[react-left] {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

[sidebar-name] {
    text-align: right;
   font-family: 'Baloo Da 2', cursive;
   text-transform: capitalize;
}

[sidebar-left] {
    display: flex;
    align-items: center;
}

[asui] img {
    max-width: 65px;
    border-radius: var(--borradius);
}

[sidebar-desc] {
    margin-left: 1rem;
    font-size: var(--descsize);
    text-align: left;
    line-height: var(--lineheight);
}

a {
    cursor: normal;
    font-size: var(--headingsize);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

[theme-title] {
    font-size: var(--headingsize);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--cremegreen);
    width: 50%;
    margin: 0 auto;
}

[theme-desc] p {
    font-size: var(--descsize);
    text-align: justify;
    text-align-last: center;
    margin-top: 20px;
}

.theme-separator {
    border: 1px solid var(--mint);
    margin: 20px auto;
}

[comment-container] {
    display: flex;
    margin-top: 10px;
}

[avatar-left] img {
    max-width: 30px;
    display: block;
    margin: 0;
    border-radius: var(--borradius);
}

[avatar-right] {
    font-size: var(--descsize);
    /* line-height: var(--lineheight);*/
    text-transform: capitalize;
    margin: auto 5px;
}

[comment] {
    border-left: 2px solid var(--minty);
    margin-left: 20px;
    margin-top: 5px;
}

[comment] p {
    font-size: var(--descsize);
    margin-left: 5px;
}

.friday-post {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
    margin-bottom: 40px;
}

.friday-post .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: inline-block;    */
}

.gp1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gp2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gp3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gp4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
}

[color-palette-title] {
    font-size: var(--headingsize);
    /* letter-spacing: var(--fontspace); */
    text-transform: capitalize;
    margin-top: 10px;
    text-align: center ;
}

[color-palette] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.boxes {
    /* border: 1px solid; */
    padding: 1rem;
    width: calc(95%/4 - 30px);
}

.one {
    background-color: var(--creme);
}

.two {
    background-color: var(--cremegreen);
}

.three {
    background-color: var(--mint);
}

.four {
    background-color: var(--minty);
}

[theme-title-container] {
    display: flex;
    /* width: calc(100%/2 - 30px); */
    justify-content: space-between;
    align-items: center;
}

[sample-post-title] {
    font-size: var(--descsize);
    letter-spacing: var(--fontspace);
    background-color: var(--cremegreen);
    text-transform: capitalize;
    padding: 5px;
}

[theme-date] {
    text-transform: capitalize;
    font-size: var(--headingsize);
    letter-spacing: var(--fontspace);
}

[theme-desc-samplepost] ul {
    padding-left: 3rem;
    font-size: var(--descsize);
    margin: 7px 0;
    text-transform: capitalize;
    margin: 20px 0;
}

[theme-desc-samplepost] ul li {
    padding: 3px 0;
}

[theme-desc-samplepost] p {
    font-size: var(--descsize);
    text-align: justify;
    text-align-last: left;
    margin-top: 20px;
}

[theme-desc-samplepost] p:nth-child(3) {
    margin-top: 0;
}

[tag-container] {
    text-align: right;
    font-size: var(--descsize);
    margin: 5px 0;
}

[tag-container] a {
    margin: 0 2px;
    color: #222;
}