* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
    font-family: 'Wix Madefor Text', sans-serif;
}

/* Font */
/* font-family: 'Baloo Da 2', cursive;
font-family: 'Wix Madefor Text', sans-serif; */

:root {
    --creme: #DDFFBB;
    --cremegreen: #C7E9B0;
    --mint: #B3C99C;
    --minty: #A4BC92;

    --headingsize: 12px;
    --descsize: 11px;
    --fontspace:  0.125em;
    --lineheight: 1.6em;
    
    --borradius: 3px;
}


[top-bar-title] {
    position: fixed;
    width: 100%;
    top: 0;
    line-height: 1.8;
    font-size: var(--headingsize);
    background: rgba( 164, 188, 146, 0.6 );
    text-align: center;
    text-transform: capitalize;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    z-index: 10;
    padding: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.container {
    position: absolute;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    top: 0;
    left: 0;
    right: 0;
    width: calc(80% - 90px);
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

[post-container] {
    /* border: 2px solid #222; */
    padding: 1rem;
    position: relative;
    top: 4rem;
}

[sidebar-container] {
    /* border: 2px solid var(--minty); */
    padding: 1rem;
    position: relative;
    top: 4rem;
}

[post-container], [sidebar-container] {
    width: calc(90%/2 - 30px);
}

[post] {
    /* border: 1px solid blue; */
    padding: 2rem;
    position: relative;
    top: 0;
    margin-bottom: 20px;
}

[sidebar ] {
    /* border: 1px solid blue; */
    padding: 2rem;
    position: fixed;
    /* position: relative; */
    width: calc(30% - 30px);
    top: 14rem;
}

[post-title-left] {
    display: flex;
    justify-content: space-between;
    background-color: var(--cremegreen);
    font-size: var(--headingsize);
    letter-spacing: var(--fontspace);
    text-transform: capitalize;
    padding: 0 0.392em;
}

[post] img {
    max-width: 317px;
    object-fit: contain;
    width: 100%;
    margin-top: 20px;
}

[react-left] {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

[sidebar-name] {
    text-align: right;
   font-family: 'Baloo Da 2', cursive;
   text-transform: capitalize;
}

[sidebar-left] {
    display: flex;
    align-items: center;
}

[asui] img {
    max-width: 65px;
    border-radius: var(--borradius);
}

[sidebar-desc] {
    margin-left: 1rem;
    font-size: var(--descsize);
    text-align: left;
    line-height: var(--lineheight);
}

a {
    cursor: normal;
    font-size: var(--headingsize);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

[theme-title] {
    font-size: var(--headingsize);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--cremegreen);
    width: 50%;
    margin: 0 auto;
}

[theme-desc] p {
    font-size: var(--descsize);
    text-align: justify;
    text-align-last: center;
    margin-top: 20px;
}

.theme-separator {
    border: 1px solid var(--mint);
    margin: 20px auto;
}


